body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form label {
    margin-right: 10px;
}

form input, form select {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

tfoot td {
    font-weight: bold;
    text-align: right;
}

td[contenteditable="true"] {
    background-color: #f9f9f9;
}

td.gray-out {
    background-color: #e0e0e0;
    color: #a0a0a0;
}

.highlight {
    background-color: rgb(190, 190, 22);
}